<%= form_for @changeset, @action, [class: "base-form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, algo deu errado! Cheque os erros abaixo:</p>
    </div>
  <% end %>

  <section>
    <%= label f, :title, "Título" %>
    <%= text_input f, :title %>
    <%= error_tag f, :title %>
  </section>

  <div class="form-send">
    <%= submit "Enviar" %>
  </div>
<% end %>
